
# Log file
*.log
# Data Altv Files
data/*
node_modules/*
package-lock.json
package.json
modules/*
node_modules/*
package-lock.json
package.json
altv-server.exe
cache/*
crashdumps/*
server.log
start.sh
update.sh
update.log
update.cfg
altv-server