@font-face {
    font-family: yekan;
    src: url('/fonts/yekan-regular.eot');
    src: url('/fonts/yekan-regular.eot') format('FontName-opentype'), url('/fonts/yekan-regular.woff') format('woff'), url('/fonts/yekan-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes mymove {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@font-face {
    font-family: Volkhov;
    src: url('/fonts/Volkhov-Regular.ttf');
    src: url('/fonts/Volkhov-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: Volkhov, yekan;
}

.mmo {
    animation: ease-in-out;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 2s;
    transition-timing-function: ease-in-out;
}

.notif {
    position: relative;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 0%, rgba(79, 79, 79, 0.9) 88%, rgba(108, 108, 108, 0.9) 100%);
    color: white;
    margin-top: 2px;
    backface-visibility: visible;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    animation-duration: 2s;
    animation-name: mymove;
}

.back {
    display: flex;
    flex-direction: column-reverse;
}

.imglogo {
    position: relative;
    display: inline;
    padding-left: 6px;
    padding-top: 5px;
}

.title {
    display: inline;
    position: absolute;
    padding-left: 3%;
    margin-top: 3%;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 65%;
}

.sutitle {
    display: inline-flex;
    position: absolute;
    text-align: center;
    width: 65%;
    margin-top: 11%;
    padding-left: 3%;
}

.data {
    margin: 3%;
    text-align: center;
}

@media screen and (max-width: 2560px) {
    .back {
        width: 20%;
        position: absolute;
        bottom: 45%;
    }
}

@media screen and (max-width: 1920px) {
    .back {
        width: 17%;
        top: 46%;
        position: absolute;
        bottom: 22%;
    }
}

@media screen and (max-width: 1600px) {
    .back {
        top: 57%;
        width: 17%;
        position: absolute;
        bottom: 21%;
    }
    .imglogo {
        width: 20%;
    }
}

@media screen and (max-width: 1440px) {
    .back {
        top: 45%;
        width: 17%;
        position: absolute;
        bottom: 21%;
    }
}

@media screen and (max-width: 1360px) {
    .back {
        top: 49%;
        width: 17%;
        position: absolute;
        bottom: 21%;
    }
}

@media screen and (max-width: 1280px) {
    .back {
        width: 18%;
        position: absolute;
        top: 47%;
        bottom: 22%;
    }
}

@media screen and (max-height: 720px) {
    .back {
        width: 17%;
        position: absolute;
        top: 52%;
        bottom: 22%;
    }
}

@media screen and (max-width: 1152px) {
    .back {
        width: 22%;
        position: absolute;
        top: 45%;
        bottom: 22%;
    }
}

@media screen and (max-width: 1024px) {
    .back {
        width: 18%;
        position: absolute;
        top: 45%;
        bottom: 22%;
    }
}

@media screen and (max-width: 800px) {
    .back {
        width: 20%;
        position: absolute;
        top: 45%;
        bottom: 22%;
    }
}